.form-container {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
}

.product-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-form input,
.product-form textarea {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.btn-create {
  padding: 10px;
  border: none;
  background: #2b7a78;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.btn-cancel {
  padding: 10px;
  border: none;
  background: #c1121f;
  color: white;
  border-radius: 6px;
  margin-top: -5px;
  cursor: pointer;
}

.error {
  color: #c1121f;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}
